 .sampleText{
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size:18px;
                color:#09ff00;

                background-color:darkblue;



            }



